.root {
  display: flex;
  flex-direction: row;
}
.innerRoot {
  margin: 5px;
  position: relative;
  width: 80%;
}
.drawer {
  width: 20%;
  height: 90vh;
  padding-left: 20px;
  box-shadow: rgba(50, 50, 50, 0.204) 0px 1px 10px 0px;
}
.listItem {
  text-align: left;
  margin: 30px 0;
  font-size: 24px;
}
